﻿@model FitnessGuru.Models.WorkoutLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkoutLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Workout.WorkoutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workout.WorkoutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimePeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimePeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
