﻿@model IEnumerable<FitnessGuru.Models.WorkoutLog>

@{
    ViewBag.Title = "Workout You did Today!!";
}

<h2>ViewBag.Title = "Workout You did Today!!"</h2>

    ADD A Workout
<button type="button" class="btn btn" id="addWorkout"> <i class="fa fa-plus fa-spin fa-lg fa-fw" aria-hidden="true"></i></button>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Workout.WorkoutName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimePeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Workout.WorkoutName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimePeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@section Scripts {
    <script>

        $("#addWorkout").on('click', function () {

            $.ajax({
                url: '/WorkoutLogs/Create',
                type: 'get'
            }).done(function (data) {
                $("#modalBody").html(data);
                $("#myModalLabel").html("Add Food");
                $("#myModal").modal("show");
            }).fail(function (err) {
                alert(err);
            });

        });

    </script>
}