﻿@model FitnessGuru.Models.UserInfo


<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goalwt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goalwt)
        </dd>

    </dl>
    <a href="@Url.Action("Edit", null, new { id=Model.Id, area = string.Empty, controller = "UserInfoes"}, Request.Url.Scheme)" class="hvr-buzz-out">Edit</a>
</div>



@*<div>
        <h4>UserInfo</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.FName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LName)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentWt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentWt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Goalwt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Goalwt)
            </dd>

        </dl>
        <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "WorkoutLogs"}, Request.Url.Scheme)" class="hvr-buzz-out">Edit</a>
    </div>*@

