﻿@model IEnumerable<FitnessGuru.Models.FoodModel>

@{
    ViewBag.Title = "Index";
}




<div id="inner-container">
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <h2>Index</h2>


    <table id="foodList" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FoodName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServingSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carbohydrate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Protein)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServingSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Calories)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carbohydrate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Protein)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    @section Scripts {
        <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#foodList').DataTable();
            })

        </script>


    }
