﻿@model FitnessGuru.Models.RemainingCalories
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="chart-other">
    <h3>Pie</h3>
    <hr />
    <canvas id="pie" height="315" width="470" style="width: 470px; height: 315px;"></canvas>
    <script>
        var mod = @Html.Raw(Json.Encode(Model));
        var pieData = [
            {
                value: mod.TotalCarbohydrate,
                color:"#337AB7"
            },
            {
                value : mod.TotalFat,
                color : "#FC8213"
            },
            {
                value : mod.TotalProtein,
                color : "#8BC34A"
            }

        ];
        new Chart(document.getElementById("pie").getContext("2d")).Pie(pieData);



    </script>
    <div class="row mb40">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TotalCarbohydrate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalCarbohydrate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalFat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalFat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalProtein)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalProtein)
            </dd>



        </dl>
        </div>
    </div>

