﻿@model FitnessGuru.Models.Calculation


@{
    ViewBag.Title = "Calculate";
}
<br />
<br />
<br />

<div>

    <h2>@Html.DisplayNameFor(model => model.BMI) = @Html.DisplayFor(model => model.BMI)</h2>
    @*<h2>@Html.DisplayNameFor(model => model.BMR) = @Html.DisplayFor(model => model.BMR)</h2>*@
    <h2> @Html.DisplayNameFor(model => model.BMRperDay) = @Html.DisplayFor(model => model.BMRperDay)</h2>
</div>
