﻿@model FitnessGuru.Models.Calculation

@{
    ViewBag.Title = "Details";
}

<h4>
    <br/>
    
    Your Current Status
</h4>
        <p>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.BMI)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BMI)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BMRperDay)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BMRperDay)
                </dd>

            </dl>
           
            @*@Html.DisplayNameFor(model => model.BMI): @Html.DisplayFor(model => model.BMI)
                <br/>
                @Html.DisplayNameFor(model => model.BMRperDay): @Html.DisplayFor(model => model.BMRperDay)*@

        </p>



