﻿@{
 
    Layout = "~/Views/Shared/WorkoutLayout.cshtml";
}

<header id="home" class="home">

    <div class="container">
        <div class="home-content">
            <h1>Basic Home Workout: </h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wFElbNOzzrA?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>

            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hb-ESKUEovw?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j57HMjVM7Is?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dJlFmxiL11s?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YdB1HMCldJY?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <h1>Cardio Workout: </h1>


            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/y5msGIWuvEU?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BsrfGW_83NM?rel=0&amp;controls=0&amp;" frameborder="0" allowfullscreen></iframe>
            </div>



            </br>
            <div class="left">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/zLfWcEVlXv4?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LkCZPvKLeBM?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <h1>Skipping:</h1>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ciRqr6tWMyc?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dlantbhXp4Y?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <h1>High Intensity Cardio Workout: </h1>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NTEDDmCjd1k?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <h1>Warm Ups For Women: </h1>

            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/h2aBPh_2eEo?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QMZmzwr6Fxg?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2L2lnxIcNmo?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <h1>Warm Ups : </h1>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RVq0X3XnKmE?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>


            <h1>Zumba Workout: </h1>

            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HRkNfdlm5Qs?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xfmHPW-AfQs?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/brb738C4Rj4?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/52uvwCi03yE?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <h1>Strength Workout: </h1>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hIMb33U9T1Q?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6hgBossMfOs?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/97Pn5d0xmoE?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/oXfEqgRygSg?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YWXaP_HT1Nk?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <h1>TaekWondo: </h1>
            <div class="left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X7A96CgJ4GQ?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/E9fUVaCSl8k?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

    </div>

</header>
