﻿@model IEnumerable<FitnessGuru.Models.DailyLog>

@{
    ViewBag.Title = "Food You Ate Today!!";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


    <h2>@ViewBag.Title</h2>

    ADD A FOOD
    <button type="button" class="btn btn" id="addFood"> <i class="fa fa-plus fa-spin fa-lg fa-fw" aria-hidden="true"></i></button>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period.PeriodName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calorie)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period.PeriodName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calorie)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>





@section Scripts {
    <script>

        $("#addFood").on('click', function () {

            $.ajax({
                url: '/DailyLogs/Create',
                type: 'get'
            }).done(function (data) {
                $("#modalBody").html(data);
                $("#myModalLabel").html("Add Food");
                $("#myModal").modal("show");
            }).fail(function (err) {
                alert(err);
            });

        });

    </script>
}
