﻿@model FitnessGuru.Models.Forum

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Fora", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Forum</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserId)
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.TimeofPost)
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

        <div class="col-md-10">
            @Html.HiddenFor(model => model.ReplyId)
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" >
            <input type="submit"id="createComment" value="Create" class="btn btn-default" />
        </div>
    </div>
    </div>
}


@section Scripts {
    <script>
    $("#createComment").on('click', function () {
        //var model = { 'id': Id, 'comments': comments };
        var comments = $('#txtComments').val();
        

        $.ajax({
            //your params as it is
            url: '/comments1/SaveComments',
            data: { 'commenty': comments },
              type: 'post'
        }).done(function (response) {
            //window.location = redirectURl //for redirecting to article details page
            //if you are passing id as parameter to the redirected page then you can do something like this.
          // window.location = response.redirectUrl + '/' + response.Id;
            // window.location.href = 'Url.Action("details", "articles", new { id = "id1" })';

           $.ajax({
               url: '/comments1/Index?Id=' + response.Id,
               type:'GET'
           }).done(function(responsecomment) {
               $('#commentsection').html(responsecomment);
           }).fail(function(err) {
               alert("Error Occured : " + err);
           });
        }).fail(function (error) {

        });

        });
    </script>
}