﻿@{
    ViewBag.Title = "Food You Ate Today!!";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@*@model IEnumerable<FitnessGuru.Models.Forum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeofPost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeofPost)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                @Html.ActionLink("Reply", "Reply", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p>
    <div class="input-group">
        <span class="input-group-addon">Comment here</span>
        <input type="text" id="txtComments" class="form-control" placeholder="text" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-primary" id="createComment">Comment</button>
</p>
<div id="commentsection">
    @Html.Action("Index", "comments1", Model.id);
</div>*@


@Html.Action("QuesAns", "Fora")
