﻿@using Microsoft.AspNet.Identity
@model IEnumerable<FitnessGuru.Models.Forum>

@{
    ViewBag.Title = "QuesAns";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>QuesAns</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeofPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyId)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeofPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplyId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@



@foreach (var item in Model)
{
    if (item.ReplyId==null)
    {


    <div class="portlet-grid-page">
        <div class="portlet-grid panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">@item.UserName</h3>
            </div>
            <div class="panel-body">

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                        @Html.ActionLink("Reply", "Reply", new { id = item.Id })
                    </td>
                </tr>

            </div>
        </div>
    </div>
    }

}
<i class="fa fa-comment" id = "addComment"aria-hidden="true">Comment</i>

@section Scripts {
    <script>

        $("#addComment").on('click', function () {

            $.ajax({
                url: '/Fora/Create',
                type: 'get'
            }).done(function (data) {
                $("#modalBody").html(data);
                $("#myModalLabel").html("Add Food");
                $("#myModal").modal("show");
            }).fail(function (err) {
                alert(err);
            });

        });

    </script>
}
