﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/FitnessLayout.cshtml";
}

 <!--Home page style-->
<header id="home" class="home">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
                <div class="home-content sections">


                    <h1>
                        TRAIN <span>INSANE </span> OR REMAIN THE SAME
                    </h1>
                    <h1> JOIN OUR FITNESS GURU FAMILY </h1>
                    <br/>
                    <button class="btn btn-primary btn-lg"> @Html.ActionLink("Login", "Login","Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button> &#160&#160&#160&#160&#160&#160
                    <button class="btn btn-primary btn-lg">@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>


                </div>
            </div>
        </div>

    </div>

</header>

<!-- Sections -->
<section id="features" class="sections lightbg">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Fitness Guru as a Personnal Fitness Companion</h3>
            <h5>
                Fitness Guru lets our users choose Daily Diet Plan,<br>
                Record Their Daily Fitness activity, Search Different Nepali and International based foods <br>
                Different Exercises Such as<br>
                Home Workouts<br>High Intense Cardio Workouts <br>Stretching <br> Muscle GroupWorkouts Without Weight <br> Yoga etc.<br> Video Tutorials On routine Workouts from different known Websources<br>
                dily Tracking of Nutritions.
            </h5>
        </div>

        <!-- Example row of columns -->
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-pencil-square-o"></i>
                    <h5>Diet Plan</h5>
                    <p>Suggests the various diet plan regarding the type of exercises and methods our users choose.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-search"></i>
                    <h5>Search Food</h5>
                    <p>We have the database of various nepali based and international food items that our users can search and view the nutrient content. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-video-camera"></i>
                    <h5>Video Tutorials</h5>
                    <p>Fitness Guru provides variety of workout videos based on the interests of our users.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-content">
                    <i class="fa fa-book"></i>
                    <h5>Record Daily Activities</h5>
                    <p>Fitness Guru lets user record their daily activities such as Steps taken,Heart rate,Weight,daily food intake with nutrient information such as calories added etc.</p>
                </div>
            </div>

        </div>
    </div> <!-- /container -->
</section>

<!-- Sections -->
<section id="gallery" class="sections">
    <div class="container text-center">

        <div class="heading-content">
            <h3>Health is all that matters.</h3>
            <h5>Here's how FITNESS GURU helps achieve your goals </h5>
        </div>

        <!-- Example row of columns -->
        <div class="row">



            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item">
                    <div class="gallery">
                        <img src="~/assets/images/gallery/img1.jpg" alt="" />
                        <h6>Healthy Diet</h6>

                        <div class="img-overlay"></div>

                        <div class="gallery-icon">
                            <a class="gallery-img" href="login.html">Get Started</a>

                        </div>
                    </div>

                    <p>To Maintain Your Body First Is To Maintain Your Diet.</p>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item">
                    <div class="gallery">
                        <img src="~/assets/images/gallery/img2.jpg" alt="" />
                        <h6>Basic Workouts</h6>

                        <div class="img-overlay"></div>

                        <div class="gallery-icon">

                            <a class="gallery-img" href="login.html">Get Started</a>
                        </div>
                    </div>

                    <p>Get Trained In Home Without Going Anywhere Faster And In Less Time And Loose Weight Be Healthy</p>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item">
                    <div class="gallery">
                        <img src="~/assets/images/gallery/img3.jpg" alt="" />
                        <h6>Strength Workout</h6>

                        <div class="img-overlay"></div>

                        <div class="gallery-icon">

                            <a class="gallery-img" href="login.html">Get Started</a>
                        </div>
                    </div>

                    <p>Strength Isn't Limited To Muscle Size And Capacity But When You Get Stonger You're Better Able To Loose Weight</p>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item">
                    <div class="gallery">
                        <img src="~/assets/images/gallery/IMG4.jpg" alt="" />
                        <h6>Cardio Workout</h6>

                        <div class="img-overlay"></div>

                        <div class="gallery-icon">
                            <a class="gallery-img" href="~/assets/images/gallery/IMG4.jpg">Get Started</a>
                        </div>

                    </div>

                    <p>Fix Your Mistake During Your Cardio Workout And You'll Get More Calorie Burn For The Effort</p>

                </div>
            </div>



        </div>
    </div> <!-- /container -->
</section>

<!-- Sections -->
<section id="video" class="video">
    <div class="overlay sections">
        <div class="container text-center">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <div class="video-content">
                        <!-- THIS IS WHERE OUR VIDEO LINK FROM YOUTUBE WILL BE EMBEDDED-->
                        <a class="ÿoutube-media" href="https://youtube.com/embed/QM_GobcKsuQ?autoplay=1&.)wmode=opaque&.)fs=1"><i class="fa fa-play"></i></a>
                        <h1>Watch to Learn How To Get More Of <span>FITNESS GURU</span></h1>

                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </div>
</section>

<!-- Sections -->
<!--  <section id="price" class="sections">
      <div class="container text-center">

          <div class="heading-content">
              <h3>choose your price</h3>
              <h5>summarise what your product is all about </h5>
          </div>

          <! Example row of columns
          <div class="row">

              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="price-category basic">
                      <h4>Basic Package</h4>
                      <h2>20$</h2>
                      <ul>
                          <li>Nullam suscipit vitae</li>
                          <li>Etiam faucibus</li>
                          <li>Vivamus viverra</li>

                      </ul>
                      <a href="#" class="btn-price">Purchase</a>
                  </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="price-category professional">
                      <h4>Professional Package</h4>
                      <h2>25$</h2>
                      <ul>
                          <li>Nullam suscipit vitae</li>
                          <li>Etiam faucibus</li>
                          <li>Vivamus viverra</li>
                          <li>Praesent pharetra</li>
                      </ul>
                      <a href="#" class="btn-price">Purchase</a>
                  </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="price-category advance">
                      <h4>Advanced Package</h4>
                      <h2>30$</h2>
                      <ul>
                          <li>Nullam suscipit vitae</li>
                          <li>Etiam faucibus</li>
                          <li>Vivamus viverra</li>

                      </ul>
                      <a href="#" class="btn-price">Purchase</a>
                  </div>
              </div>

          </div>
      </div>
  </section>-->
<!-- Sections -->
<!-- Sections -->
<!-- <section id="download" class="section colorsbg download">
     <div class="container text-center">

         <! Example row of columns -->
<!-- <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="download-content">
                    <h1>Do you Like this app?</h1>
                    <button class="btn btn-primary">Download Now</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Sections -->
<section id="contact">

    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7065.762420795215!2d85.31339750138754!3d27.690066117249152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1501482522353" width="1600" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="container text-center">

        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                <div class="contact-form-area">
                    <form>
                        <h3>Contact</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Subject">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="7" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary contact-btn">SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>



