﻿@using FitnessGuru.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>            }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@



<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title - Fitness Guru</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="~/assets1/css/bootstrap.min.css">
    <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->
    <!--For Plugins external css-->
    <link rel="stylesheet" href="~/assets1/css/plugins.css" />
    <link rel="stylesheet" href="~/assets1/css/lato-webfont.css" />
    <link rel="stylesheet" href="~/assets1/css/magnific-popup.css">

    <!-- Web Font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
    <!--Theme custom css -->
    <link rel="stylesheet" href="~/assets1/css/style.css">
    <link href="~/css1/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css1/font-awesome.css" rel="stylesheet">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="~/assets1/css/responsive.css" />

    <script src="~/assets1/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#index.html"><img src="~/assets/images/last1.png" alt="" /></a>
            </div>


        </div><!-- /.container-fluid -->
    </nav>

    <!--Home page style-->
    <header id="home" class="home">

        <div class="container">
            <div class="main-agileits">

                <div class="mainw3-agileinfo">
                    <!-- login form -->


                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="login-form">
                            <div class="login-agileits-top">

                                @Html.AntiForgeryToken()
                                
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                   <p> @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</p>
                                   
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                   
                                </div>
                                <div class="form-group">
                                    <p>@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</p>
                                   
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    
                                </div>
                                <label class="anim">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                <span>@Html.LabelFor(m => m.RememberMe)</span>
                                            </div>
                                        </div>
                                    </div>
                                    </label>
                                    <div class="form-group">
                                       
                                            <input type="submit" value="Log in" class="btn btn-default" />
                                       
                                    </div>
                                    <p>
                                        <div class="login-agileits-bottom">
                                            <h6><a href="#">@Html.ActionLink("Register as a new user", "Register")</a></h6>
                                        </div>

                                    </p>
                                    @* Enable this once you have account confirmation enabled for password reset functionality*@
                                    <p>
                                        <div class="login-agileits-bottom">
                                            <h6><a href="#">@Html.ActionLink("Forgot your password?", "ForgotPassword")</a></h6>
                                        </div>

                                    </p>

</div>

                        </div>
                    }





                </div>



                <div class="social-w3lsicon">
                    <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-button drble"><i class="fa fa-dribbble"></i></a>
                    <a href="#" class="social-button be"><i class="fa fa-behance"></i></a>
                    <a href="#" class="social-button in"><i class="fa fa-linkedin"></i></a>

                </div>
            </div>
            <!-- //main -->
            <!-- js -->
        </div>



    </header>




    <!--  <div class="scroll-top">

          <div class="scrollup">
              <i class="fa fa-angle-double-up"></i>
          </div>

      </div>-->
    <!--Footer-->
    <footer id="footer" class="footer colorsbg">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright text-left">
                        <p>Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co"> Fitness Guru </a>2017/2018. All rights reserved.</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright text-right">
                        <p>Terms of Service | Privacy Policy</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>


    <script src="~/assets1/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/assets1/js/vendor/bootstrap.min.js"></script>


    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="~/assets1/js/gmaps.min.js"></script>

    <script src="~/assets1/js/jquery.magnific-popup.js"></script>

    <script src="~/assets1/js/plugins.js"></script>
    <script src="~/assets1/js/main.js"></script>
    <script src="~/js/superplaceholder.js"></script>
    <script>
        superplaceholder({
            el: input1,
            sentences: ['john.smith11', 'lorem.ipsum55', 'example@name2'],
            options: {
                loop: true,
                startOnFocus: false
            }
        })
        superplaceholder({
            el: input2,
            sentences: ['.........', '.....', '.....'],
            options: {
                loop: true,
                startOnFocus: false
            }
        })
    </script>
    <!-- //js -->

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}