@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Regular'), local('Saira-Regular'), url(http://fonts.gstatic.com/s/saira/v1/jzYaSgAUVIrUGya6gY_AKQ.woff2) format('woff2');
}
