﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>*@




        <ul>

            <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <div class="profile_img">
                        <span class="prfil-img">@*<img src="~/images/p1.png" alt="">*@ <i class="fa fa-user-circle" aria-hidden="true"></i></span>
                        <div class="user-name">
                            <p>Welcome!!</p>
                            <span>@User.Identity.GetUserName()</span>
                        </div>
                        <i class="fa fa-angle-down lnr"></i>
                        <i class="fa fa-angle-up lnr"></i>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <ul class="dropdown-menu drp-mnu">
                    <li>
                        <a href="#">
                            <div class="col-md-1">
                                <i class="fa fa-cog"></i>
                            </div> <div class="col-md-offset-2">
                                @Html.ActionLink("Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="col-md-1">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="col-md-offset-2">
                                Profile
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <div class="col-md-1">
                                <i class="fa fa-sign-out"></i>
                            </div>

                            <div class="col-md-offset-2"> Logout </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="clearfix"> </div>


    }
}
else
{

    <button class="btn btn-default btn-lg">@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
    <button class="btn btn-primary btn-lg">@Html.ActionLink("Sign Up Here", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
}
