﻿@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <title>FitnessGuru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--js-->
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <!--icons-css-->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>

    <!--//skycons-icons-->
    <!--buttons-->
    <link href="~/css/hover.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/demo-page.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/js/Chart.min.js"></script>

</head>
<body>
    <div class="page-container">
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                <div class="header-main">
                    <div class="header-left">
                        <div class="logo-name">
                            <a href="">
                                <h1><img src="~/images/last1.png" /></h1>
                                <!--<img id="logo" src="" alt="Logo"/>-->
                            </a>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-right">
                        <div class="profile_details_left">
                            <div class="clearfix"> </div>
                            <div class="profile_details">

                                @Html.Partial("_LoginPartial")

                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!--heder end here-->
                <!-- script-for sticky-nav -->
                <script>
                    $(document).ready(function () {
                        var navoffeset = $(".header-main").offset().top;
                        $(window).scroll(function () {
                            var scrollpos = $(window).scrollTop();
                            if (scrollpos >= navoffeset) {
                                $(".header-main").addClass("fixed");
                            } else {
                                $(".header-main").removeClass("fixed");
                            }
                        });

                    });
                </script>
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->

                <div class="inner-block">
                    <div class="row mb40">
                        <div class="col-md-12">
                            <div class="demo-grid">
                                <div id="remCal">
                                    @Html.Action("showRemCal", "RemainingCalories")
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb40">
                        <div class="col-md-9 mb5">
                            <div class="demo-grid">
                                <div id="inner-container">@RenderBody()</div>
                            </div>
                        </div>
                        <div class="col-md-3 mb5">
                            <div class="demo-grid">
                                <div id="side-container">
                                <div class="box_body">
                                    <div class="box">
                                        <div class="header header2">
                                            UserInfo
                                            <span></span>
                                        </div>
                                        <p>
                                            @Html.Action("showInfo", "UserInfoes")
                                            <hr />

                                            @Html.Action("Details", "Calculations")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
                </div>
                <!--inner block end here-->
                <!--copy rights start here-->
                <div class="copyrights">
                    <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
                <!--COPY rights end here-->
            </div>
        </div>
        <!--slider menu-->
        <div class="sidebar-menu">
            <div class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
                    <span id="logo"></span>
                    <!--<img id="logo" src="" alt="Logo"/>-->
                </a>
            </div>
            <div class="menu">
                <ul id="menu">
                    <li id="menu-home"><a href="@Url.Action("Details", null, new { area = string.Empty, controller = "UserInfoes" }, Request.Url.Scheme)"><i class="fa fa-tachometer"></i><span>Profile</span></a></li>
                    @*<li>
                            <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "UserInfoes" }, Request.Url.Scheme)"><i class="fa fa-cogs"></i><span>Components</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul>
                                <li><a href="grids.html">Grids</a></li>
                                <li><a href="portlet.html">Portlets</a></li>
                            </ul>
                        </li>*@
                    <li id="menu-comunicacao">
                        <a href="#"><i class="fa fa-book nav_icon"></i><span>Diary</span><span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-comunicacao-sub">
                            <li id="menu-mensagens" style="width: 120px">
                                <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "DailyLogs" }, Request.Url.Scheme)">Add Food</a>
                            </li>
                            <li id="menu-arquivos"><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "WorkoutLogs" }, Request.Url.Scheme)">Add Workout</a></li>

                        </ul>
                    </li>
                    @*<li><a href="maps.html"><i class="fa fa-map-marker"></i><span>Maps</span></a></li>*@
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-file-text"></i><span>List</span><span class="fa fa-angle-right" style="float: right"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-boletim"><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "FoodModels" }, Request.Url.Scheme)">List of Foods</a></li>
                            <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "WorkoutModels" }, Request.Url.Scheme)">List of Workouts</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("WorkoutVideo", null, new { area = string.Empty, controller = "WorkoutModels" }, Request.Url.Scheme)"><i class="fa fa-video-camera"></i><span>Workout Videos</span></a></li>
                    <li><a href="@Url.Action("Piechart", null, new { area = string.Empty, controller = "RemainingCalories" }, Request.Url.Scheme)"><i class="fa fa-pie-chart"></i><span>Charts</span></a></li>
                    @*<li>
                            <a href="#"><i class="fa fa-envelope"></i><span>Mailbox</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul id="menu-academico-sub">
                                <li id="menu-academico-avaliacoes"><a href="inbox.html">Inbox</a></li>
                                <li id="menu-academico-boletim"><a href="inbox-details.html">Compose email</a></li>
                            </ul>
                        </li>*@
                    @*<li>
                            <a href="#"><i class="fa fa-cog"></i><span>System</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul id="menu-academico-sub">
                                <li id="menu-academico-avaliacoes"><a href="404.html">404</a></li>
                                <li id="menu-academico-boletim"><a href="blank.html">Blank</a></li>
                            </ul>
                        </li>*@
                    <li>
                            <a href="@Url.Action("QuesAns", null, new { area = string.Empty, controller = "Fora" }, Request.Url.Scheme)"><i class="fa fa-comments"></i><span>Forum</span></a>
                            
                        </li>
                                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body" id="modalBody">
                        ...
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!--slide bar menu end here-->
    <script>
        var toggle = true;

        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }
            toggle = !toggle;
        });

    </script>
    <!--scrolling js-->
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="~/js/bootstrap.js"> </script>
    <!-- mother grid end here-->
    @RenderSection("scripts", required: false)
</body>
</html>
