﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Register | Fitness Guru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Awesome Register Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/cssr/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
    <!-- main -->
    <div data-vide-bg="~/videor/awesome.mp4">
        <div class="main-w3layouts center-container">
            <h1>Create Your Account| Fitness Guru </h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <form action="#" method="post">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        @RenderBody()
                    </form>
                </div>
            </div>
            <!-- copyright -->
            <div class="w3copyright-agile">
                <h2>© 2017 Register . All rights reserved |<a href="index.html" target="_blank">Fitness Guru</a></h2>
            </div>
            <!-- //copyright -->
        </div>
    </div>
    <!-- //main -->
    <!-- js -->
    <script type="text/javascript" src="~/jsr/jquery-2.1.4.min.js"></script>
    <script src="~/jsr/jquery.vide.min.js"></script>
    <!-- //js -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)


</body>
</html>
