﻿@{
    Layout = null;
}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tutorials | FitnessGuru</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!--        <link rel="stylesheet" href="~/assets/css/bootstrap-theme.min.css">-->
    <!--For Plugins external css-->
    <link rel="stylesheet" href="~/assets/css/plugins.css" />
    <link rel="stylesheet" href="~/assets/css/lato-webfont.css" />
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">



    <!--Theme custom css -->
    <link rel="stylesheet" href="~/assets/css/stylex.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="~/assets/css/responsive.css" />

    <script src="~/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--<div class='preloader'><div class='loaded'>&nbsp;</div></div>-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><img src="~/assets/images/last1.png" alt="" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "DailyLogs" }, Request.Url.Scheme)">Back to Home</a></li>
                    <li><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "WorkoutModels" }, Request.Url.Scheme)">Workout List</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @RenderBody()
    <!--Footer-->
    <footer id="footer" class="footer colorsbg">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright text-left">
                        <p>Made with <i class="fa fa-heart"></i> by <a href="index.html"> Fitness Guru Team</a>2017. All rights reserved.</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright text-right">
                        <p>Terms of Service | Privacy Policy</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>



    <script src="~/assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>


    <script src="http://maps.google.com/maps/api/js"></script>


    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
